<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved notes</title>
</head>
<body>
    <h1>Saved notes</h1>

    <div>
        {%for saved_note in notes%}
        <div>
      
        <h1>{{saved_note.title}}</h1>
        <p>{{saved_note.body}}</p>
        <a>href="/delete_note/{{notes.id}}">Delete note</a>
              
        </div>
        {%endfor%}
    </div>
        <a href="{{url_for('home')}}">Home</a>
    <a href="{{url_for('dashboard')}}">Dashboard</a>
</body>
</html>